.container {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 50px;
    margin: 0 auto;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media(max-width: 1440px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
    }
}

@media(max-width: 1040px) {
    .container {
        grid-template-columns: 1fr 1fr;
        max-width: 650px;
        margin-top: 50px;
    }
}

@media(max-width: 720px) {
    .container {
        grid-template-columns: 1fr;
        max-width: 650px;
    }
}

@media(max-width: 550px) {
    .container {
        margin-top: 15px;
        gap: 25px;
    }
}